/*

reglas = conjunto de seletores, todo lo de abajo
selectorres = body
declaraciones = {}
propiedades = width
valores = 10%

.logo{
    width: 10%;
}

selector de etiqueta = h1,body header
selector hijo de un elemento


gris oscuro = #1d252
grisclaro #626262
gris #1b2127
celeste #026fff
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    margin: 10px;
    /*font-style: italic;*/
}
.portfolio h2{
    margin-top: 0px;;
}

.project-course{
    margin: 10px 0 ;

}



.project-date,
.proyect-url{
    margin: 10px;
}


.project-date,
.proyect-url,
.project-course{
    margin: .4em 0;;
}





h1{
    /* margin top right bottom left */
    margin: 0px 0px px 0px 0px;
    font-size: 40px;
    line-height: 1.5;
    /*separador de letras*/
    letter-spacing: -.2px;
    /*mayuscula*/
    text-transform: capitalize;
    /*enlace
    text-decoration: underline;
    */ 
    color: white;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
 
    
}

h1 strong{
    color: #026fff;
}

.hero{
    height: 300px;
    /* background-image: url('img/heroe.jpg'); */
    background-color: #1b2127;
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
}

.hero figure .hero-imagen{
    display: flex;
    width: 500px;
    height: 300px;
    object-fit: cover;
    
}

.project{
    /* tamaño tipo color 
    border-top: 1px solid red ;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    leer margin y paddin
    */
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px; 
    margin-bottom: 0px ;
    padding: 20px;
    background: white;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;




}
.project-title {
    font-size: 30px;
    margin: 10px 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-details {
    width: 50%;
}


.project-imageContainer{

    width: 50%;
    height: 100px;
   
}

.project-image{
    display: flex;
    margin: auto;;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.header{
    background-color: #1b2127;
    height: 120px;
    color: white;
    display: flex;
     align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.header ul{
    display: flex;
    /* que es inherit */
    height: inherit;
    
}

.header ul li {
    height: inherit;

}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding:  0 10px;
}

.menu{
    height: inherit;
}

ol, ul{
   margin: 0;
   padding: 0;
   list-style: none;
}

.header img{
    width: 100px;
    align-items: center;
    padding: 10px 0 0 20px;

}

.header a{
    text-decoration:none;
    color: white;
}

figure{
    margin: 0;
}


.portfolio {
    background: #ECE6E6;
    /* padding: 20px; */
    margin: 0 auto;
    max-width: 1000px;
}

.portfolio-principal{
    background: #ECE6E6;
}

h2{
    color:  #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.event-list{
    display: flex;
    background-color: #ECE6E6;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.event-padre{
    background-color: #ECE6E6;
}

.event{

    margin: 1%;;
    width: 48%;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #f4fbff;

}

.event img{
    width: 480px;
    height: 200px;
    /*  object-fit: cover;
    para que no se vea fea cuando
    le cambio el tamaño
     */
    object-fit: cover;
    border-radius: 10px;

}

.event-list-title{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #ECE6E6;
    padding: 10px;
}

.titulo-evento{
    background-color: #ECE6E6;
}

.event-detail {
    margin:20px 40px;
    background-color: white;
    margin-top: -60px;
    /* estudias las position */
    position: relative;
    padding: 15px;
    text-align: center;
}

.event-description{
    text-align: left;
}

.event a{
    text-decoration: none;
    border: 1px solid #026fff;
    padding: 5px 60px;
    font-size: 18px;
    color: #026fff;
    border-radius: 5px;  
}


/* contacto */

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-principal{
    background-color: #056fff;
}


.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-size: 50px 50px;

}

.social-link.facebook{
    background-image: url('img/facebook.svg');
}
.social-link.github{
    background-image: url('img/github.svg');
}
.social-link.linkid{
    background-image: url('img/linkedin.svg');
}
.social-link.instagram{
    background-image: url('img/instagram.svg');
}

.form-email input{
    border-color: gray;
    padding: 8px 20px 5px 30px;
    background-image: url('img/correo.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 6px;
    border-style: solid;
    margin-left: 10px;
}

.form-email button{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    border-style: solid;
    width: 150px;
    margin: 10px auto;
}
 
.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 10px;
    display: flex;
}



/* Footer */
 
.footer .container{
    background-color: #1b2127;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.footer{
    background-color: #1b2127;
}

.footer p{
    display: flex;
    margin: 0;
}

.container{
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    border: 1px solid red;
    max-width: 1000px;
    flex: 1;
     margin: 0 auto;
    flex-wrap: inherit;
}
/* 
desktop first del mas grande al mas pequeño
si es para app de menor a mayor */

@media screen and (max-width: 1024px){
  

}

@media screen and (max-width: 767px)
{
    .header{
        display: block;
        height: auto;
    }

    .header ul{
        display: initial;
    }

    .header ul li {
        height: 50px;
    }

    .header a{
        justify-content: center;
    }
 
    .header .logo{
        text-align: center;
    }
    
    .project{
        display: flex;
        justify-content: center;
        padding: 57px;
    }

    .project-image{
        width: auto;

    }

    .project-details{
        width: auto;
        font-size: 12px;;
    }

    .event-list{
        display: flex;
        background-color: #f4fbff;
        flex-wrap: wrap;
    }

    .event{
        margin: 1%;;
        width: 98%;
        flex-shrink: 0;
        overflow: hidden;
        background-color: #f4fbff;
    
    }

    .event img{
        width: 100%;
    }

    .contact {
        background-color: #056fff;
        color: white;
        height: auto;
        display: flex;
        justify-content: center;
    }


}


@media screen and (max-width: 480px){
    
    .project-image {
        width: auto;
        display: flex;
        margin-left: -26px;
    }


    .event-list{
        display: flex;
        background-color: #f4fbff;
        flex-wrap: wrap;
    }
    
    .event{
        margin: 1%;;
        width: 98%;
        flex-shrink: 0;
        overflow: hidden;
        background-color: #f4fbff;
    
    }
    
    .event img{
        width: 100%;
    }
    
    .event-list-title{
        text-align: center;
        margin-bottom: 0;
    }
    
    .event-detail {
        margin:20px 40px;
        background-color: white;
        margin-top: -60px;
        /* estudias las position */
        position: relative;
        padding: 15px;
        text-align: center;
    }
    
    .event-description{
        text-align: left;
    }
    
    .event a{
        text-decoration: none;
        border: 1px solid #026fff;
        padding: 5px 60px;
        font-size: 18px;
        color: #026fff;
        border-radius: 5px;  
    }
    
    .contact {
        background-color: #056fff;
        color: white;
        height: auto;
        display: flex;
        justify-content: center;
    }


}  


@media screen and (max-width: 320px){
  
    .project-details{
        width: auto;
        font-size: 16px;
    }

    .contact {
        background-color: #056fff;
        color: white;
        height: auto;
        display: flex;
        justify-content: center;
    }





}




